body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  overflow-x: hidden;
}

h2 {
  font-size: 50px;
}

h3, h4 {
  font-size: 40px;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  color: #36324a;
}

p {
  color: #6f6c7f;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  line-height: 30px;
}

img {
  max-width: 100%;
}

.item {
  height: 458px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.btn {
  border-radius: 38px;
  padding: 18px 40px;
  font-size: 14px;
  font-weight: 600;
}

.nav-outer .menu .menu-container li {
  padding-right: 30px;
  font-size: 16px;
}

.nav-outer .menu .menu-container li a {
  color: #36324a;
}

.nav-outer .menu .menu-container li a:hover {
  color: #f77ade;
}

.nav-outer .menu .menu-container li .current-item {
  color: #f77ade;
}

.nav-outer .menu .menu-container li .current-item:hover {
  color: #36324a;
}

.nav-outer .btn {
  background-color: #ffffff;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.nav-outer .btn:hover {
  background-color: #303030;
  color: white;
}

.header-inner::after {
  content: "";
  background: url(../images/bg-header@2x.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  height: 236%;
  width: 87%;
  top: -17%;
  background-size: 1124px 1000px;
  right: -27%;
  position: absolute;
  z-index: -1;
}

.header-inner h1 {
  max-width: 424px;
  font-size: 50px;
  margin-bottom: 41px;
}

.header-inner p {
  max-width: 450px;
  margin-bottom: 49px;
}

@media (max-width: 1267px) {
  .header-inner::after {
    background-position: 250px 29%;
    width: 106%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .header-inner::after {
    right: -24%;
    top: -38%;
    height: 185%;
    width: 123%;
  }
}

@media (max-width: 767px) {
  .phone {
    margin-top: 50px;
  }
}

@media (max-width: 577px) {
  .phone {
    margin-top: 50px;
  }
  .header-inner::after {
    right: -46%;
    top: -23%;
    height: 121%;
    width: 167%;
  }
}

@media (max-width: 400px) {
  .header-inner::after {
    right: -3%;
    top: -28%;
    height: 120%;
    width: 173%;
  }
}

.features {
  margin-top: 50px;
}

.features h2 {
  margin-bottom: 40px;
}

.features .owl-carousel .center {
  border: 4px solid #5b39c9;
  border-radius: 12px;
}

.features .owl-carousel .item h3 {
  font-size: 20px;
  width: 50%;
  font-weight: 600;
}

@media (max-width: 995px) {
  .features .owl-carousel .center {
    border: none;
  }
}

@media (max-width: 768px) {
  .features .owl-carousel .center {
    border: 4px solid #5b39c9;
  }
}

.info-outer {
  padding: 120px 0;
  border-top: 1px rgba(204, 204, 204, 0.438) solid;
  border-bottom: 1px rgba(204, 204, 204, 0.473) solid;
}

.info-outer p {
  color: #36324a;
  font-size: 18px;
}

.info-outer span {
  padding-bottom: 22px;
  font-weight: 200;
}

.interactive-outer {
  background: url("../images/bg-interact.png") center center;
  background-size: cover;
  padding: 100px 0;
}

.interactive-outer .col-md-7 {
  padding-right: 50px;
}

.interactive-outer .text-center {
  height: 500px;
}

.interactive-outer .text-center img {
  padding-bottom: 36px;
}

.interactive-outer .text-center h3 {
  padding-bottom: 36px;
}

.interactive-outer .text-center p {
  padding-bottom: 36px;
}

.power-outer {
  background: url("../images/discoverBg@3x.png") left center;
  background-size: cover;
  padding: 100px 0;
}

.power-outer .col-md-7 {
  padding-left: 50px;
}

.power-outer .text-center {
  height: 500px;
}

.power-outer .text-center img {
  padding-bottom: 36px;
}

.power-outer .text-center h3 {
  padding-bottom: 36px;
}

.power-outer .text-center p {
  padding-bottom: 36px;
}

@media (max-width: 470px) {
  .power-outer .col-md-4 {
    margin-top: 40px;
  }
}

@media (max-width: 415px) {
  .power-outer .col-md-4 {
    margin-top: 100px;
  }
}

@media (max-width: 343px) {
  .power-outer .col-md-4 {
    margin-top: 140px;
  }
}

.film-outer {
  background-image: url("/images/video/bg.png");
  padding: 230px 0;
}

.apps h3 {
  padding-top: 70px;
  padding-bottom: 30px;
}

.apps p {
  padding-bottom: 40px;
}

.apps .owl-dots {
  margin-top: 0;
}

.wrap-corousel-outer {
  position: relative;
  overflow: hidden;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px 20px;
  margin-top: -72px;
}

.wrap-corousel-outer .owl-carousel .owl-stage-outer {
  overflow: visible;
}

.wrap-corousel-outer .wrap-carousel {
  position: relative;
  width: 433px;
  height: 770px;
  margin: 0 auto;
  padding: 108px 70px;
  background-image: url(../images/3-layers.png);
  background-size: 410px 693px;
  background-repeat: no-repeat;
  margin-top: 12px;
}

.wrap-corousel-outer .wrap-carousel .photocarousel {
  width: 275px;
  height: 471px;
}

.wrap-corousel-outer .wrap-carousel .owl-theme .owl-nav.disabled + .owl-dots {
  text-align: center;
  margin: 89px 24px 0px 0;
}

@media (max-width: 400px) {
  .wrap-corousel-outer {
    padding: 0;
  }
  .wrap-carousel {
    background-size: 331px 507px;
    padding-bottom: 30px;
  }
  .photocarousel {
    max-width: 243px;
  }
  .phoneImage {
    margin-top: 50px;
  }
}

.cta .cards-outer {
  display: none;
}

.cta .cards-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cta .navs-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid #f7f6f9;
}

.cta .navs-wrap a {
  text-decoration: none;
  padding: 17px 34px;
  font-size: 14px;
}

.cta .navs-wrap .active-tab {
  background-color: #f77ade;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.cta .navs-wrap .active-tab:hover {
  background-color: #f15bd3;
}

.cta .card-container {
  text-align: center;
  padding: 34px 20px;
  border: 4px solid #f7f6f9;
  border-radius: 15px;
  -webkit-transition-property: border, -webkit-transform;
  transition-property: border, -webkit-transform;
  transition-property: border, transform;
  transition-property: border, transform, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  margin-top: 20px;
}

.cta .card-container:hover {
  border: 4px solid #5b39c9;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cta .card-container h6 {
  margin-top: 30px;
  font-size: 26px;
}

.cta .card-container h6 span {
  color: #f77ade;
  font-weight: 300;
  font-style: 26px;
  padding-top: 4px;
}

.cta .card-container .btn {
  margin: 20px 0 30px;
  padding: 15px 20px;
}

.cta .card-container ul {
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.cta .card-container .fas {
  color: #6ac376;
  margin-right: 5px;
  font-size: 13px;
}

.cta .card-container .fa-times {
  color: #ed4d58;
}

.testimonails-outer {
  background-color: #f7f6f9;
}

.testimonails-outer .testimonails {
  padding: 100px 0;
}

.testimonails-outer .testimonails .item {
  position: relative;
  max-width: 728px;
  margin: 0 auto;
  height: 449px;
  color: #2f3437;
}

.testimonails-outer .testimonails .item p {
  color: #36324a;
  font-size: 30px;
  line-height: 50px;
}

.testimonails-outer .testimonails .item span {
  color: #f77ade;
  font-size: 22px;
}

.testimonails-outer .testimonails .owl-prev {
  color: #434056;
  position: absolute;
  width: 64px;
  height: 64px;
  background-color: #fff !important;
  border-radius: 30px;
  left: -60px;
  top: 30%;
  color: #434056;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.testimonails-outer .testimonails .owl-prev:hover {
  background-color: #d3d1d6 !important;
  color: #fff;
}

.testimonails-outer .testimonails .owl-prev span {
  color: inherit;
  font-size: 25px;
}

.testimonails-outer .testimonails .owl-next {
  color: #434056;
  position: absolute;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 64px;
  height: 64px;
  background-color: #fff !important;
  border-radius: 30px;
  left: 90%;
  top: 30%;
  color: #434056;
}

.testimonails-outer .testimonails .owl-next:hover {
  background-color: #d3d1d6 !important;
  color: #fff;
}

.testimonails-outer .testimonails .owl-next span {
  color: inherit;
  font-size: 25px;
}

@media (max-width: 992px) {
  .testimonails .owl-theme .owl-nav {
    display: none;
  }
}

.news {
  margin-bottom: 100px;
}

.news .post-body {
  margin-top: 40px;
}

.news .post-body .post-details {
  font-size: 14px;
}

.news .post-body h3 {
  font-size: 25px;
}

.news .post-body h3 a {
  text-decoration: none;
  color: #36324a;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.news .post-body h3 a:hover {
  color: #5c5775;
}

.news .post-body p {
  margin-top: 40px;
}

.news .post-body .hrefBody {
  color: #5b39c9;
  font-weight: 500;
  text-decoration: none;
}

.news .post-body .hrefBody::after {
  content: '';
  display: block;
  width: 85px;
  background-color: #5b39c9;
  height: 1px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.news .post-body .hrefBody:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 767px) {
  .news .post-body .hrefBody::after {
    margin: 0 auto;
  }
  .news .text-center {
    margin-bottom: 15px;
  }
}

.post-header {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.post-header .date {
  position: absolute;
  background: rgba(250, 250, 250, 0.8);
  border-radius: 50%;
  top: 12px;
  cursor: pointer;
  left: 12px;
}

@media (max-width: 767px) {
  .post-header .date {
    left: 85px;
  }
}

.post-header .date p {
  margin: 8px;
  padding: 13px 0px;
}

.post-details a {
  text-decoration: none;
  color: #f77ade;
  margin-right: 10px;
}

.downloadApp {
  text-align: center;
  padding: 100px 0 100px;
  border-top: 1px solid #ccc;
}

.downloadApp h2 {
  font-size: 46px;
}

.downloadApp span {
  font-size: 24px;
  line-height: 60px;
  color: #6f6c7f;
}

.downloadApp .btn {
  font-size: 20px;
  line-height: 24px;
  margin-top: 68px;
  padding: 24px 64px;
}

.footer {
  background: url("../images/footerBg.png") center 45px no-repeat;
  padding: 151px 0 75px;
  background-size: 135% 100%;
}

.footer h4 {
  padding-bottom: 38px;
}

.footer h5 {
  padding-top: 15px;
  font-size: 20px;
  color: #36324a;
  padding-bottom: 45px;
  font-weight: 600;
}

.footer p, .footer li, .footer a {
  color: #6f6c7f;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}

.footer .socials .fa-twitter {
  color: #f77ade;
}

.footer .socials .fa-twitter:hover {
  color: #6f6c7f;
}

.footer .socials .fab {
  margin-right: 24px;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.footer .socials .fab:hover {
  color: #f77ade;
}

.footer .address address {
  display: inline;
}

.footer .address .fas {
  margin-right: 9px;
}

.footer li {
  margin-bottom: 10px;
}

.footer .twitter-message-container p:first-child {
  padding: 28px;
  background-color: #fff;
  font-size: 14px;
  margin: 44px 0 -12px;
  border-radius: 12px;
}

.footer .twitter-message-container .twitter-message {
  margin: 27px;
}

.footer .twitter-message-container .twitter-message .fab {
  color: #f77ade;
}

@media (max-width: 767px) {
  .footer {
    background-size: 194% 100%;
  }
}

@media (max-width: 551px) {
  .footer {
    background-size: 270% 100%;
  }
}

span {
  display: block;
  font-size: 60px;
  font-weight: 400;
  color: #5b39c9;
}

.altNob {
  margin-top: 100px;
}

.my5 .owl-theme .owl-dots {
  padding-right: 50px;
}

.interact-cta {
  height: 370px;
}

@media (max-width: 888px) {
  .wrap-corousel-outer .owl-carousel .owl-stage-outer {
    overflow: hidden;
  }
}

.features-item {
  padding: 10px;
  width: auto;
  text-align: center;
}

.phone {
  -webkit-animation: 2s linear infinite alternate jumps;
  animation: 2s linear infinite alternate jumps;
}

@-webkit-keyframes jumps {
  from {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes jumps {
  from {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.nav-outer {
  padding: 30px 0;
}

@media (max-width: 1200px) {
  .extrabutton {
    padding: 1em 2em;
  }
}

@media (max-width: 490px) {
  .extrabutton {
    padding: 0.7em 1.7em;
    font-size: 0.8rem;
  }
}

@media (max-width: 433px) {
  .btns-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .btns-header .btn {
    padding: 1.2rem 5rem;
    margin: 10px;
  }
}

/*----- Toggle Button -----*/
.toggle-nav {
  display: none;
}

/*----- Menu -----*/
@media screen and (min-width: 860px) {
  .menu {
    width: 100%;
    padding: 10px 18px;
  }
}

@media screen and (max-width: 993px) {
  .nav-outer .menu .menu-container li a {
    color: #fff;
  }
  .nav-outer .menu .menu-container li .current-item:hover {
    color: #fff;
  }
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  margin: 0;
  list-style: none;
  font-size: 17px;
}

.menu li:last-child {
  margin-right: 0px;
}

.menu a {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: color linear 0.15s;
  transition: color linear 0.15s;
}

.menu a:hover, .menu .current-item a {
  text-decoration: none;
  color: #66a992;
}

/*----- Search -----*/
.search-form {
  float: right;
  display: inline-block;
}

.search-form input {
  width: 200px;
  height: 30px;
  padding: 0px 8px;
  float: left;
  border-radius: 2px 0px 0px 2px;
  font-size: 13px;
}

.search-form button {
  height: 30px;
  padding: 0px 7px;
  float: right;
  border-radius: 0px 2px 2px 0px;
  background: #66a992;
  font-size: 13px;
  font-weight: 600;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}

/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
  .wrap {
    width: 90%;
  }
}

@media screen and (max-width: 970px) {
  .search-form input {
    width: 120px;
  }
}

@media screen and (max-width: 993px) {
  .menu {
    position: relative;
    right: -19%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .menu ul.active {
    display: none;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 199px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 208px;
    z-index: 500;
    top: 20%;
    position: fixed;
    padding: 10px 18px;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030;
  }
  .menu ul:after {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0%;
    left: 22px;
    content: '';
    -webkit-transform: translate(0%, -100%);
    transform: translate(0%, -100%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #303030;
  }
  .menu li {
    margin: 0px 0px 0px 0px;
    float: none;
    display: block;
  }
  .menu a {
    display: block;
  }
  .toggle-nav {
    padding: 20px;
    float: left;
    display: inline-block;
    color: #777;
    font-size: 20px;
    -webkit-transition: color linear 0.15s;
    transition: color linear 0.15s;
    position: fixed;
    top: 8%;
    z-index: 100;
  }
  .toggle-nav:hover, .toggle-nav.active {
    text-decoration: none;
    color: #66a992;
  }
  .search-form {
    margin: 12px 0px 0px 20px;
    float: left;
  }
  .search-form input {
    -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
  }
}
/*# sourceMappingURL=main.css.map */