body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  overflow-x: hidden;

}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


img {
  max-width: 100%;
}

.item {
  height: 458px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}



.btn {
  border-radius: 38px;
  padding: 18px 40px;
  font-size: 0.9rem;
}

.film-outer{
  background-image: url('/images/video/bg.png');
  padding: 170px 0;
}
.photocarousel{
  max-width: 300px;
}
.wrap-corousel-outer{
position: relative;
  overflow: hidden;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px 20px;
  margin-top: -72px;
}
.wrap-carousel{
  position: relative;
  width: 450px;
  height: 770px;
  margin: 0 auto;
  padding: 108px 70px;
  background-image: url(../images/3-layers.png);
  background-size: 400px 600px;
  background-repeat: no-repeat;
  margin-top: 12px;
}
.wrap-carousel .owl-theme .owl-nav.disabled + .owl-dots{
  text-align: center;
  margin-top: 40px;
  margin-right: 50px;
}

@media (max-width: 400px){
  .wrap-corousel-outer{
    padding: 0;
  }
  .wrap-carousel{
    background-size: 331px 507px;
    padding-bottom: 30px;
  }
  .photocarousel {
    max-width: 243px;
  }
  .phoneImage{
    margin-top: 50px;
  }
}


span {
  display: block;
  font-size: 60px;
  font-weight: 400;
  color: #5b39c9;
}

.altNob {
  margin-top: 100px;
}
.my5 .owl-theme .owl-dots{
padding-right: 50px;
}
.interact-cta {
  height: 370px;
}

.c40 {
  font-size: 40px;
}

.inner {
  border: 4px solid #5b39c9;
  border-radius: 10px;
}
.wrap-corousel-outer .owl-carousel .owl-stage-outer{
  overflow: visible;
}
@media (max-width:888px) {
  .wrap-corousel-outer .owl-carousel .owl-stage-outer{
    overflow: hidden;
  }
}
.features-item {
  padding: 10px;
  width: auto;
  
  text-align: center;
}
.phone{
  -webkit-animation: 2s linear infinite alternate jumps;
          animation: 2s linear infinite alternate jumps;
}
@-webkit-keyframes jumps {
  from{
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to{
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes jumps {
  from{
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to{
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}


.nav-outer{
  padding: 30px 0;
}
@media (max-width:1200px) {
  .extrabutton{
  padding: 1em 2em;
  }
}
@media (max-width:490px) {
  .extrabutton{
  padding: 0.7em 1.7em;
  font-size: 0.8rem;
  }
}

@media (max-width:433px){
  .btns-header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  }
  .btns-header .btn{
    padding: 1.2rem 5rem;
    margin: 10px;
  }
}


/*          CTA        */


.wrapi{
  border-radius: 30px;
  display: inline-block;
  margin: 20px 0;
  border: 2px solid #f7f6f9;
  padding: 20px 0;
  overflow: hidden;
}
.wrapi a {
  text-decoration: none;
  padding: 20px 35px;

}
.wrapi a:first-child{
  background-color: rgb(230, 81, 126);
  color: #fff;
}
.wrapi a:last-child:active{
  background-color: rgb(230, 81, 126);
  color: #fff;
}
.wrapi a:last-child{
  background-color: rgb(230, 81, 126);
  color: #fff;
  margin-left: -4px;
}

.card-container{
  text-align: center;
  padding: 34px 20px;
  border: 4px solid #f7f6f9;
  border-radius: 15px;
  -webkit-transition-property: border, -webkit-transform;
  transition-property: border, -webkit-transform;
  transition-property: border, transform;
  transition-property: border, transform, -webkit-transform; 
  -webkit-transition-duration: 1s; 
          transition-duration: 1s;
}
.card-container:hover{
  border: 4px solid #5b39c9;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-container .btn{
  padding: 15px 20px;
  margin: 20px 0;
}
.card-container ul{
  line-height: 40px;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

/* Testimonails */

.testimonails{
  position: relative;
  padding: 200px 0  ;
}
.testimonails p{
  padding-top: 80px;
}

.testimonails .item{
  height: 300px;
  max-width: 700px;
  margin: 0 auto;
}
.testimonails .owl-theme .owl-nav{
  position: absolute;
  left: 50%;
}
.testimonails .owl-theme .owl-nav .owl-prev{
  position: absolute;
  top: -150px;
  left: -400px;
}


.testimonails .owl-theme .owl-nav .owl-next{
  position: absolute;
  top: -152px;
  left: 400px;
}



/*              News             */

.post-header{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.post-header .date{
  position: absolute;
  background: rgba(250, 250, 250,0.8);
  border-radius: 50%;
  top: 12px;
  cursor: pointer;
  left: 12px;
}
@media (max-width: 767px){
  .post-header .date{
    left: 85px;
  }
}
.post-header .date p{
  margin: 8px;
  padding: 13px 0px;
}

.post-details a{
  text-decoration: none;
  color: #f77ade;
  margin-right: 10px;
}

/*                      footer                   */

.socials a{
 margin-right: 1em;
}

footer.container{
  line-height: 2;
}

.link-container a{
  color: inherit;
}

.twitter-message-container p{
  font-size: 12px;
}
.twitter-message-container p:first-child{
  font-size: 12px;
  padding: 18px 25px;
  background-color: #ccc;
  border-radius: 11px;
  position: relative;
}











/*----- Toggle Button -----*/
.toggle-nav {
	display:none;
}

/*----- Menu -----*/
@media screen and (min-width: 860px) {
	.menu {
	width:100%;
  padding:10px 18px;
	}
}

.menu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;;
}

.menu li {
	margin:0px 50px 0px 0px;
	float:left;
	list-style:none;
	font-size:17px;
}

.menu li:last-child {
	margin-right:0px;
}

.menu a {
	text-shadow:0px 1px 0px rgba(0,0,0,0.5);
	color:#777;
	-webkit-transition:color linear 0.15s;
	transition:color linear 0.15s;
}

.menu a:hover, .menu .current-item a {
	text-decoration:none;
	color:#66a992;
}

/*----- Search -----*/
.search-form {
	float:right;
	display:inline-block;
}

.search-form input {
	width:200px;
	height:30px;
	padding:0px 8px;
	float:left;
	border-radius:2px 0px 0px 2px;
	font-size:13px;
}

.search-form button {
	height:30px;
	padding:0px 7px;
	float:right;
	border-radius:0px 2px 2px 0px;
	background:#66a992;
	font-size:13px;
	font-weight:600;
	text-shadow:0px 1px 0px rgba(0,0,0,0.3);
	color:#fff;
}



/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
	.wrap {
		width:90%;
	}
}

@media screen and (max-width: 970px) {
	.search-form input {
		width:120px;
	}
}

@media screen and (max-width: 993px) {
	.menu {
    position:relative;
    right: -19%;
		display:-webkit-inline-box;
		display:-ms-inline-flexbox;
		display:inline-flex;
	}

	.menu ul.active {
		display:none;
	}

	.menu ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
    width: 199px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 208px;
    z-index: 500;
    top: 20%;
    position: fixed;
    padding: 10px 18px;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
            box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
    border-radius: 3px;
    background: #303030;
	}

	.menu ul:after {
		width:0px;
		height:0px;
		position:absolute;
		top:0%;
		left:22px;
		content:'';
		-webkit-transform:translate(0%, -100%);
		        transform:translate(0%, -100%);
		border-left:7px solid transparent;
		border-right:7px solid transparent;
		border-bottom:7px solid #303030;
	}

	.menu li {
		margin:5px 0px 5px 0px;
		float:none;
		display:block;
	}

	.menu a {
		display:block;
	}

	.toggle-nav {
		padding:20px;
		float:left;
		display:inline-block;
		color:#777;
		font-size:20px;
    -webkit-transition:color linear 0.15s;
    transition:color linear 0.15s;
    position: fixed;
    top: 8%;
    z-index: 100;
	}

	.toggle-nav:hover, .toggle-nav.active {
		text-decoration:none;
    color:#66a992;
	}

	.search-form {
		margin:12px 0px 0px 20px;
		float:left;
	}

	.search-form input {
		-webkit-box-shadow:-1px 1px 2px rgba(0,0,0,0.1);
		        box-shadow:-1px 1px 2px rgba(0,0,0,0.1);
	}
}
@media (max-width: 818px) {

}